<!DOCTYPE html>
<html>
<head>
  <title>Imdb</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav>
		<%= link_to "Home", :root %>
		<%= link_to "Movies", :movies%>
		<%= link_to "Actors", :actors%>
		<h2>IMDb Clone</h2>
	</nav>

<%= yield %>

</body>
</html>

