<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  	
  	<div class="contain-to-grid fixed">
	  	<nav class="top-bar" data-topbar role="navigation">
	  		<ul class="title-area">
	  			<li class="name">
						<h3><%= link_to "IMDb Clone", :root%></h3>
					</li>
				</ul>
				<section class="top-bar-section">
					<div class="right">
						<ul class="button-group">
							<li><%= link_to "Movies", :movies, :class =>"button"%></li>
							<li><%= link_to "Actors", :actors, :class =>"button"%></li>
						</ul>
					</div>
				</section>
			</nav>
		</div>
		<div class="container">
    	<%= yield %>

    	<%= javascript_include_tag "application" %>
    </div>
  </body>
</html>