<div class="row">
	<div class="small-9 columns">
		<a class="th">
			<%= image_tag @suckr.get_image_url({"q" => @movie.title + " movie poster"}), :style => "height:250px"%>
		</a>
		<h2>
			<%= @movie.title %>
			<%=" (#{@movie.year})"%>
		</h2>

		<%= link_to "Add a Role", :new_role, :class=>"button"%>

		<h3>
			<% @roles.each do |role| %>
				<%= link_to "#{role.actor.name}", actor_path(role.actor) %>
				<%= "- #{role.name}" %>
				<br>
				<a class="th">
					<%= image_tag @suckr.get_image_url({"q" => role.actor.name + ' ' + role.movie.title}), :style => "height:200px" %>
				</a>
				<br>
			<% end %>
		</h3>
	</div>
</div>