<div class="row">
	<div class="small-9 columns">
		<a class="th">
			<%= image_tag @suckr.get_image_url({"q" => "Actor " + @actor.name}), :style => "height:250px"%>
		</a>
		<h2>
			<%= @actor.name %>
		</h2>

		<%= link_to "Add a Role", :new_role, :class=>"button"%>

		<h3>
			<% @roles.each do |role| %>
				<%= link_to "#{role.movie.title}", movie_path(role.movie)%>
				<%= " - #{role.name}" %><br>
				<a class="th">
					<%= image_tag @suckr.get_image_url({"q" => role.movie.title + ' ' + @actor.name}), :style => "height:200px" %>
				</a>
				<br>
			<% end %>
		</h3>
	</div>
</div>

